.hover{
    background-color: red;
}

.lightbulb {
    width:100px;
    height:100px;
    border-radius:50%;
    background-color: grey;
}

.on {
    background-color: yellow;
}

.off {
    background-color: grey;
}